.app {
  width: 600px;
  margin: 0 auto;
  background-color: darkslateblue;
  padding: 16px;
  border-radius: 26px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.forecast {
  display: flex;
  justify-content: space-around; /* Add space between items */
  margin-top: 20px; /* Add space above */
  margin-bottom: 20px; /* Add space below */
}

.forecast-day {
  text-align: center;
  flex: 1;
margin: 0 15px;
}
